<div name="result" ng-include="'views/search.html'"></div>

<div> {{ error }}</div>

<div ng-hide="user">
    <img src="content/images/loading.gif" title="Loading..."/>
</div>

<div ng-show="user">
    <div>
        <div>Name: {{user.name}}</div>
        <div>Location: {{user.location}}</div>
        <!--div><img ng-src="{{user.avatar_url}}" title="{{user.name}}" /></div-->
    </div>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Stars</th>
                <th>Language</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="repo in repos | orderBy:'+name'">
                <td>{{repo.name}}</td>
                <td>{{repo.stargazers_count | number}}</td>
                <td>{{repo.language}}</td>
            </tr>
        </tbody>
    </table>
</div>
